@import 'tailwindcss';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-react";

:root {
	--background: 255 255 255;
	--foreground: 0 0 0;
	background-color: white;
	color: black;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: white;
	color: black;
}
