@import 'tailwindcss';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-react";
@plugin "tailwindcss-animate";

:root {
	--background: 255 255 255;
	--foreground: 0 0 0;
	font-family: 'Lexend', sans-serif;
	background-color: white;
	color: black;
}

body {
	margin: 0;
	background-color: white;
	color: black;
}

.darkveil-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}
